.dockHeader {
 background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.dockAreaOverlay
{
 background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}


.dockarea
{
 background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.ScrollViewAlt
{
 background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.FoldoutHeader
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.FoldoutHeader:active
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}
.FoldoutHeader:hover
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}
.FoldoutHeader:focus
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.RL-Empty-Header
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.RL-Background
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.dragtab-label
{
 background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.dragtab-label:hover
{
    background-color:#2f4858;
}

.dragtab-label:active
{
 background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}


.dragtab-label:focus
{
 background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.SceneTopBarBg
{
 background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

/* GUIStyle.onActive */
.IN-Foldout:hover:active:focus:checked:root:enabled
{
     background-image: "Assets/Editor/StyleSheets/Sprites/listSprite.png";
}

.PlayerSettingsPlatform
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.OL-box
{
   background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.MiniPopup
{
    background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}

.LinkLabel
{
    background-color:#000000;
}

/*.CN-EntryBackOdd
{
     background-image: "Assets/Editor/StyleSheets/Sprites/listSprite.png";
}*/

.IN-Foldout
{
    background-image: "Assets/Editor/StyleSheets/Sprites/listSprite.png";
}


.WhiteBackground
{
  background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg"
  -unity-background-scale-mode: stretch-to-fill

}

.TabWindowBackground
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}


.AppToolbar
{
       background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}
.ProjectBrowserIconAreaBg
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
    
}

.IN-Title
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}
/*.ObjectPickerResultsGrid 
{
     background-image: "Assets/Editor/StyleSheets/Sprites/animegirl.jpg";
}*/